body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* bouton retour */

#back{
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 10px;

    text-decoration: none;
}


/* form */

#message{
    position: absolute;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 10px;

    width: 100%;
}

input[type=password],input[type=email],input[type=text]{
    padding: 10px;

    height: 20px;
    width: 80%;
    
    background-color: #252525;

    color: white;
    
    border: none;
    border-bottom: 3px #1e1e1e solid;

    transition: 0.2s;
}

input[type=password]:focus,input[type=email]:focus,input[type=text]:focus{
    caret-color: white;
    
    border: none;
    border-bottom: 3px #61FF00 solid;
    outline: none;
}

input[type=password]::placeholder,input[type=email]::placeholder,input[type=text]::placeholder {
    color: white;
}

button[type=submit]{
    width: 10%;
    height: 40px;

    background-color: #62ff007c;
    
    border: none;
    border-radius: 0;

    color: #1e1e1e;

    font-weight: bold;
    font-size: 20px;

    transition: 0.2s;
}

button[type=submit]:hover{
    background-color: #62ff008a;
    box-shadow: 0px 0px 4px 0px #1d4c008a; 
}

button[type=submit]:focus{
    letter-spacing: 0.6px;
    transition: 0.2s;
}

/* pour les messages du chat */

#messageBox{
    
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-right: 22px;
    margin-bottom: 4%;

    overflow-y: auto;

}

#messageBox::-webkit-scrollbar {
    width: 2px;
}
  
#messageBox::-webkit-scrollbar-thumb {
    background-color: #61FF007c;
    border-radius: 6px;
}

#messageBox::-webkit-scrollbar-track {
    background-color:transparent;
}

#messageBox::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
  

.scrollSmooth {
    scroll-behavior: smooth;
}

.message{
    
    padding: 10px;
    max-width: 50vw;

    margin-top: 10px;
    margin-bottom: 10px;

    line-height: 100%;

    text-align: justify;
}

.sent{
    background: transparent;
    align-self: flex-end;
    
    border: #61FF00 solid 1px;
    border-radius: 20px 20px 0px 20px ;
}

.received{
    background: #62ff007c;
    align-self: flex-start;
    
    border-radius: 20px 20px 20px 0px ;
}

#messageDate{
    color: #ffffff7c;
    font-size: 12px;
    text-align: right;
}

/* pour les messages d'erreur */
#errorMessage{
    position: absolute;
    bottom: 41.5vh;

    text-align: center;

    height: 10px;
    width: 320px;

    color:red;
}