body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* form */

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input[type=password],input[type=email],input[type=text]{
    padding: 10px;

    height: 20px;
    width: 300px;
    
    background-color: #252525;

    color: white;
    
    border: none;
    border-bottom: 3px #1e1e1e solid;

    transition: 0.2s;
}

input[type=password]:focus,input[type=email]:focus,input[type=text]:focus{
    caret-color: white;
    
    border: none;
    border-bottom: 3px #61FF00 solid;
    outline: none;
}

input[type=password]::placeholder,input[type=email]::placeholder,input[type=text]::placeholder {
    color: white;
}

input[type=submit]{
    width: 320px;
    height: 40px;

    background-color: #62ff007c;
    
    border: none;

    color: #1e1e1e;

    font-weight: bold;

    transition: 0.2s;
}

input[type=submit]:hover{
    background-color: #62ff008a;
    box-shadow: 0px 0px 4px 0px #1d4c008a; 
}

input[type=submit]:focus{
    letter-spacing: 0.6px;
    transition: 0.2s;
}

/* bouton visibilité du mot de passe */
#passwordVisibitlity{

    height: 40px;
    width: 40px;

    background-color: transparent;

    position: relative;
    bottom: 102px;
    left: 142px;

    border: none;

    font-size: 20px;
}


/* lien créer un compte */
#divCreateAccount{

    display: flex;
    justify-content: center;
    gap: 7px;
    
    width: 320px;
    
    font-size: 0.8em;
}

#divCreateAccount p{
    color: rgba(255, 255, 255, 0.5);
}

#linkCreateAccout{
    color: #62ff007c;
    text-decoration: none;
}

#linkCreateAccout:hover{
    color: #62ff008a;
}

