*{
    margin: 0px;
    padding: 0px;

    font-family: 'Ubuntu', sans-serif;
    color: white;

    /* user-select: none; */
}

body{
    background-color: #1e1e1e
}

::selection {
    background-color: #fffb00; 
    color: black;
}
